# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
env/
venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Lab documents
*.docx
